* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #fcfcfc;
  height: 70px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 15px 16px -7px rgba(124, 58, 237, 0.14);
}
.menu {
  display: block;
  text-align: center;
  padding: 25px 10px 10px 10px;
}
.menu a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 15px;
  color: #212121;
  font-weight: bold;
  padding-bottom: 10px;
}
.menu a:hover {
  transition: all 0.2s ease-in;
  color: #ccdbfd;
}
.main {
  display: flex;
  margin: 0;
}
.main img {
  width: 300px;
  height: auto;
}
.stickman_body {
  margin: 150px -320px 0 20px;
}
.container {
  width: 40%;
  height: 550px;
  box-shadow: -1px 6px 21px -1px rgba(124, 58, 237, 0.13);
  margin: 0 auto;
  margin-top: 30px;
  padding: 40px 35px 35px 35px;
  border: 2px solid #212121;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.container .DeathImage {
  width: 450px;
  margin: 0 auto;
}
.Intro {
  padding-top: 20px;
  color: #a27035;
  font-weight: 700;
  text-align: center;
}
#Intro {
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #212121;
  text-align: center;
}
.pathways {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.Container-Buttons {
  height: auto;
  display: flex;
}
.Container-Buttons button {
  margin-top: 70px;
  height: 60px;
  color: black;
  width: 100%;
}

.play-Btn,
.SignIn-Btn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;

  touch-action: manipulation;
}

.play-Btn:hover,
.SignIn-Btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: #ccdbfd;
}

.play-Btn:focus,
.SignIn-Btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
